<div class="container show-container">
  <div class="container show-border-style">
    <ul>
      <li>User Name: <%= @user.name %></li>
      <li>User Email: <%= @user.email %></li>
    </ul>
  </div>
</div>