<div class="container show-container">
  <div class="container show-border-style">
    <ul>
      <li>User Name: <%= @user.name %></li>
      <li>User Email: <%= @user.email %></li>
    </ul>
  </div>
</div>

<h4><a href="http://localhost:3000/products/<%="#{@id}"%>/edit">Update Product</a></h3>