.white_cover {
  background: rgba(255, 255, 255, 0.7);
  padding-top: 10px;
}

.black-text {
  color: black;
}

.red-text {
  color: red;
}

.border-style {
  height: 300px;
  padding: 10px;
  text-align: center;
  border: 3px inset grey;
}

.show-border-style {
  border: 3px inset grey;
  padding: 10px;
  width: 1090px;
}

.order-border-style{
  border: 3px inset grey;
  padding: 10px;
}

.image-delete-border{
  border: 3px inset grey;
  padding: 10px;
  text-align: center;
  height: 250px;
}

.show-container {
  padding: 10px;
}

.show-border-style-head {
  text-align: center;
}

.index-item-out{
  padding: 10px;
}

.image-center {
  display: block;
  margin: 0 auto;
  width: 100%;
}

.nyan {
  background-image: url("nyan.gif");
  background-repeat: repeat;
  font-family: 'Poiret One', cursive;
  font-size: 190%;
}

.respectable {
  background-image: url("stars_background.jpg");
  background-repeat: repeat;
  font-family: 'Poiret One', cursive;
  font-size: 190%;
}

.navbar-default {
  background-color: #253238;
  border-color: #c5233c;
}
.navbar-default .navbar-brand {
  color: #ffffff;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #e4f698;
}
.navbar-default .navbar-text {
  color: #ffffff;
}
.navbar-default .navbar-nav > li > a {
  color: #ffffff;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #e4f698;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #e4f698;
  background-color: #c5233c;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  color: #e4f698;
  background-color: #c5233c;
}
.navbar-default .navbar-toggle {
  border-color: #c5233c;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #c5233c;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #ffffff;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #ffffff;
}
.navbar-default .navbar-link {
  color: #ffffff;
}
.navbar-default .navbar-link:hover {
  color: #e4f698;
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #ffffff;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #e4f698;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #e4f698;
    background-color: #c5233c;
  }
}