<h1>Home</h1>
<div class="row">
  <% @products.each do |product| %>
    <div class="col-md-3 border-style">
      <a href="/products/<%= product.id %>" class="black-text">
        <strong><%= product.name %></strong>
        <p><img class="img_responsive" src="<%= product.image %>" style="width:150px;"></p>
        <p>$<%= product.price %></p>
      </a>
    </div>
  <% end %>
</div>